/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* 
This a principal property style into remove
*/
html,body {
    padding: 0;
    margin: 0;
    font-family: Georgia,Times,"Times New Roman",serif;
    overflow-x: auto;
}
ul li a {
    text-decoration: none;
}
ul li {
    list-style: none;
}
header{
    display: flex;
    border-bottom: 2px solid grey;
    margin: 0 0 3% 0;
}
.hidden-mobile {
    display: none;
}
.container {
    width: 100%;
}
/* This section, contain all of color for chausette */
.aubergine {
    background: #614051;
}
.aubergine-font {
    color: #614051;
}
.pink-raspberry {
    background: pink;
}
.pink-raspberry-font {
    color: pink;
}
.rouge-maison {
    background: darkred;
}
.rouge-maison-font {
    color: darkred;
}
.pink-panthere {
    background:#FDA7C4;
}
.pink-panthere-font {
    color: #FDA7C4;
}
.pink-little-girl {
    background: #F5CDD5;
}
.pink-little-girl-font {
    color :#F5CDD5;
}
.purple-blackberry {
    background: #6D566F;
}
.purple-blackberry-font {
    color: #6D566F;
}
.purple-just {
    background: #CDB0C8;
}
.purple-just-font {
    color :#CDB0C8;
}
.purple-violine {
    background:#AA5787;
}
.purple-violine-font {
    color: #AA5787;
}
.purple-ultra {
    background: #A65EAD;
}
.purple-ultra-font {
    color: #A65EAD;
}
.purple-violette {
    background: #776397;
}
.purple-violette-font {
    color: #776397;
}
.blue-ligne {
    background: #8ABBF9;
}
.blue-ligne-font {
    color: #8ABBF9;
}
.blue-little-boy {
    background: #C5DEEF;
}
.blue-little-boy-font {
    color: #C5DEEF;
}
.blue-turquoise {
    background: #48BAE0;
}
.blue-turquoise-font {
    color :#48BAE0;
}
.blue-duck {
    background: #157E90;
}
.blue-duck-font {
    color :#157E90;
}

/* 
In the next section, before principal property style remove, it's mobile first style
*/
/* I starting style for header */
header .menu-image {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    vertical-align: middle;
}
header .menu-image > img {
    width: 24px;
    height: 24px;
    align-self: center;
}
header .menu-image ul li:last-child {
    width: 40px;
    align-self: center;
}
header .menu-image img {
    padding: 0 20px 0 5px;
    display: inline-flex;
    vertical-align: middle;
}
header .menu-image a {
    width: 200px;
    min-width: 150px;
    max-width: 450px;

}
/* This end style for header */
/* I starting style for body */
.middle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.middle-selection {
    margin: 1% 1% 1% 1%;
    width: 45%;
}
.middle .remnant-sale img {
    width: 70% !important;
}
.middle .remnant-sale > p {
    border: 1px solid grey;
    width: 80px;
    border-radius: 5px;
    background: #E7E7E7;
    font-family: "Trebuchet MS", Arial, sans-serif;
    padding: 0.5rem 0.4rem;
}
.middle .remnant-sale p:last-child {
    background: #444;
    color: #fff;
    border-radius: 5px;
}
.selection-contain {
    box-shadow: 0 5px 5px rgb(166,166,166);
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
}
.select-size{
    width: 80px;
    height: 25px;
    text-align: center;
    margin: auto;
    border-radius: 0 0 7px 7px;
    color: white;
    font-size: 0.8rem;
}
/* This end for middle */
/* Style for footer */
footer {
    position: relative;
    bottom: 0;
}
footer p {
    text-align: justify;
    width: 90%;
    margin: auto;
    font-size: 16px;
}
footer h2, h3 {
    font-weight: 100;
}
footer h2 {
    text-align: center;
    font-size: 1.7rem;
}
footer h3 {
    font-size: 1.4rem;
}


footer p strong {
    color: #777777;
}
footer p strong.black {
    color : black;
}
footer .footer-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* .made-France, .back, .delivery, .visa {
    width: 40%;
    text-align: center;
} */
footer img {
    width: 80px;
    margin: auto;
}
footer .footer-image div {
    width: 45%;
    margin: auto;
}
footer .footer-bottom {
    background: #F5F5F5;
    width: 70%;
    margin: auto;
    text-align: center;
    color: #777777;
}
footer .footer-bottom p {
    text-align: center;
}
footer .footer-bottom img {
    width: 80%;
    margin: 1% 1% 1% 1%;
}
footer .footer-bottom input[type="email"]{
    width: 80%;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    font-style: italic;
    font-size: 0.8rem;
    background: url("../mail.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 32px;
}
footer .footer-bottom h5 {
    font-size: 1.8rem;
    margin: 0;
    line-height: 6rem;
}


@media (min-width: 750px){
    .middle-selection {
        width: auto;
    }
    footer .footer-image {
        flex-wrap: nowrap;
        margin-left: 2%;
    }
    footer .footer-bottom img {
        width: 40%;
        margin: auto;
    }
    footer .footer-bottom {
        width: 100%;
    }
    footer .top-footer article:first-child{
        width: 90%;
        margin: auto;
        text-align: center;
    }
    footer .top-footer article h2 {
        text-align: center;
        width: 100%;
    }
    footer .top-footer article {
        display: inline-flex;
        flex-wrap: wrap;
        width: 30%;
        margin: auto;
    }
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
